// Defaults options

$fonts-path:                "../fonts";
$serif-font:                sans-serif;
$default-font:              "Montserrat", $serif-font;

$fonts: (
    1: (
        name: 'Montserrat', // Название CamelCase
        font-weight: bold,
        font-weight-text: 'Bold'
    ),
    2: (
        name: 'Montserrat', // Название CamelCase
        font-weight: 600,
        font-weight-text: 'SemiBold'
    )
);

@function fonts($key, $scheme: 1) {
    @return map-get(map-get($fonts, $scheme), '#{$key}');
}

@for $i from 2 through 1 {
    @font-face {
        font-family: fonts(name, $i);
        src: url($fonts-path + '/' + fonts(name, $i) + '/' + fonts(name, $i) + '-' + fonts(font-weight-text, $i) + '.woff2') format('woff2'),
                url($fonts-path + '/' + fonts(name, $i) + '/' + fonts(name, $i) + '-' + fonts(font-weight-text, $i) + '.woff') format('woff');
        font-weight: fonts(font-weight, $i);
        font-style: normal;
        font-display: fallback;
        text-rendering: optimizeLegibility;
    }
}

