@import "core/_core";

// Refactored styles place here

*,
*:after,
*:before {
	box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html, body {
  position: relative;
  width: 100%;
	margin: 0;
	padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: $default-font;
  font-weight: normal;
  font-size: 16px;
	line-height: 26px;
  text-rendering: optimizeLegibility;
  height: 100vh;

  .screener {
    position: fixed;
    top: 0;
    right: 0;
    width: 90px;
    height: 30px;
    background: rgb(45, 255, 115);
    z-index: 999;
    &:before {
      content: 'Desktop';
      font-size: 20px;
      font-weight: 500;
    }
  }
}

main {
  flex: 1 0 auto;
}

.container {
  padding: 0 12px;
  margin: 0 auto;
  width: 100%;
  max-width: 1304px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: color .3s ease-in-out;
}

.title {
  margin: 10px 0;
  padding: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

.column {
  --width: 290px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--width), 1fr));
  align-items: flex-start;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.field {
  display: grid;
  grid-template-columns: 1fr;
  label {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
  }
  input, textarea {
    width: 100%;
    padding: 7px 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    border-radius: 5px;
    resize: none;
    transition: border-color .2s ease-in-out;
    &.invalid {
      & ~ span.invalid {
        text-align: left;
      }
    }
  }
}

.recaptcha {
  & > div {
    margin: 20px auto;
  }
}

@import "_desktop";
@import "_tablet";
@import "_mobile";
@import "./core/theme";